:root {
  --dark-purple: #270f44;
  --light-purple: #464866;
  --grey: #dcecf2;
  --dark-text: #0f3e5b;
  --dark-blue: #06517f;
  --light-blue: #2e9cca;
  --light-green: #00FFDB;
  --orange: #f23a00;
  --white: #ebf1f4;
}
