@import '../../styles/constants';

.rw {

  &::after {
    content: "";
    clear: both;
    display: table;
  }

  @media (min-width: 800px) {
    &__medium-4 {
      float: left;
      width: 33.33%;
    }
  }

  &--equal-height-at-medium {
    @media (min-width: 800px) {
      display: flex;
    }

    & > div {
      float: none;

      @media (min-width: 800px) {
        display: flex;
      }
    }
  }
}

.skills {
  position: relative;
  z-index: 10;
  top: -150px;
  color: white;
  padding-bottom: 70px;
  background-color: var(--white);

  &__item-box {
    padding: 70px 25px;
    text-align: center;
    border-bottom: 1px solid var(--light-blue);
    background-color: var(--dark-blue);

    @media (min-width: 800px) {
      border-bottom: none;
      border-right: 1px solid var(--light-blue);
      padding: 70px 40px;
    }

    &:first-child {
      border-top: none;
      border-right: none;
      border-bottom: 1px solid var(--light-blue);
      border-left: none;
      border-radius: 10px 10px 0 0;

      @media (min-width: 800px) {
        border-bottom: none;
        border-right: 1px solid var(--light-blue);
        border-radius: 10px 0 0 10px;
      }
    }

    &:last-child {
      border-top: none;
      border-radius: 0 0 10px 10px;

      @media (min-width: 800px) {
        /* border-top: 1px solid #7599aa; */
        border-left: none;
        border-radius: 0 10px 10px 0;
      }
    }
  }

  &__icon {
    color: var(--light-blue);
    font-size: 2.6rem;
    margin-bottom: 60px;
  }

  &__title {
    font-family: 'Raleway', cursive;
    font-size: 1.2rem;
    margin-bottom: 30px;
  }

  &__content {
    font-family: 'Montserrat', cursive;
    font-size: .7rem;
    padding-bottom: 24px;
  }

  &__subtitle {
    font-family: 'Raleway', cursive;
    font-size: .9rem;
    color: var(--orange);
    padding-bottom: 20px;
  }

  &__tools {
    font-family: 'Montserrat', cursive;
    font-size: 0.7rem;
    line-height: .5;
  }
}
