@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:700');

.about {
  position: relative;
  padding-bottom: 200px;
  z-index: 0;

  &__title {
    margin-bottom: 30px;
  }

  &__content {
    font-family: 'Montserrat', sans-serif;
    font-size: .9rem;
    text-align: center;
  }
}
