@import url('https://fonts.googleapis.com/css?family=Montserrat|Raleway:700');
@import '../../styles/constants';

.page-section {
  padding-top: 100px;
  font-family: 'Raleway', sans-serif;

  @media (min-width: 800px) {
    padding-top: 100px;
  }

  &--double-padding {
    padding-top: 200px;

    @media (min-width: 800px) {
      padding-top: 400px;
    }
  }

  &--blue {
    background-color: var(--light-blue);
    color: white;
  }

  &--dark-blue {
    background-color: var(--dark-blue);
    color: white;
  }

  &--grey {
    background-color: var(--grey);
    color: var(--dark-blue);
  }

  &--white {
    background-color: white;
    color: var(--dark-purple);
  }

  & h1 {
    font-size: 1.2rem;
    text-align: center;

    @media (min-width: 800px) {
      font-size: 1.4rem;
    }
  }
}
